body{
	background-color: lightgray;
	margin: 0px;
}

header{
	background-color: darkblue;
	margin: 0px;
	color: white;
	width: 100%;
}


.navbar{
	background-color: darkblue;
	height: 50px;
	margin: 0px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	display: inline-flex;
}

.nav-head{
	margin-left: 3%;
}

.nav-head-text{
	font-size: 25px;
	font-weight: 900;
}

.nav-list{
	margin-right: 3%;
	width: 50%;
}

.nav-item{
	width: 80%;
	display: inline-flex;
	justify-content: space-between;
	text-decoration: none;
	list-style: none;
}

.container{
	margin-left: 5%;
	margin-right: 5%;
	display: inline-flex;
	width: 100%;
}

.message{
	width: 25%;
	background-color: white;
	border-right-style: solid;
	border-right-width: 5px;
	border-color: lightgray;
	height: 100%;
}

#message-container{
	width: 100%;
}

.timeline{
	width: 40%;
	background-color: white;
	border-right-style: solid;
	border-right-width: 5px;
	border-color: lightgray;
	height: 100%;
}

.timeline-container{
	width: 100%;
}

.notification{
	width: 25%;
	background-color: white;
	border-right-style: solid;
	border-right: 10px;
	border-color: gray;
	height: 100%;
}

.notification-container{
	width: 100%;
}


